body{
    font-family: Arial, Helvetica, sans-serif;
    background: #e8eff7;
    margin:0;
    padding: 20px;
    text-align:center;
    user-select: none;
}

h1{
    margin-bottom:11px;
}

#timer {
    font-size:22px;
    margin-bottom:6px;
    font-weight: bold;
}

#message{
    margin-bottom: 16px;
    font-size:18px;
    color:#e63f3a;
    min-height: 26px;
}